<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>meta_types gem, from metaminded (by coincidence)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Meta Types</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/things">Things</a></li>
              <li><a href="/meta_types">MetaTypes</a></li>
              <li><a href="/meta_type_properties">MetaTypeProperties</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <%= yield %>

      <hr/>
      <footer>
        <p>
          © <a href="http://metaminded.com">metaminded UG</a> 2012
          &nbsp;&mdash;&nbsp;
          <a href="https://github.com/metaminded/meta_types"><tt>meta_types</tt> on GitHub</a>
        </p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>