<div class="hero-unit">
  <h1><tt>meta_types</tt> gem</h1>
  <br/>
  <p>This is a gem to save the world ;)</p>
  <p>It's supposed to allow easy creation of user-configurable models through postgres hstore.</p>
</div>

<p>This is really just a very minimalistic demo app.</p>

<ul>
  <li><%= link_to "Meta Types", meta_types_path() %></li>
  <li><%= link_to "Meta Type Properties", meta_type_properties_path() %></li>
  <li><%= link_to "Things", things_path() %></li>
</ul>