<!DOCTYPE html>
<html>
<head>
  <title>MetaTypes</title>
  <%= stylesheet_link_tag    "meta_types/application", :media => "all" %>
  <%= javascript_include_tag "meta_types/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
